<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
    <style>
	    input, textarea{
	       	margin-bottom:10px;
		}	
	</style>
    <script>
		// 01. 새글 쓰기 영역 ▶ 빈값일 시 안넘기기
           function insertWrite(){
				let boardNick = document.getElementById('boardNick');			// 닉네임
				let boardTitle = document.getElementById('boardTitle');		// 타이틀
				let boardText = document.getElementsByName('boardText')[0];	// 본문
				let boardCheckCheckbox = document.getElementById('boardCheckCheckbox'); // 중요 게시물 체크 여부
				let boardCheck = document.getElementsByName('boardCheck')[0];			  // 중요 게시물 체크 여부
               
				// 빈 값 확인
				if (boardNick.value.trim() === '' || boardTitle.value.trim() === '' || boardText.value.trim() === '') {
                   alert('빈 값을 채워주세요.');
                   return false;
   				}
               
				// 체크박스가 체크되어 있다면 'Y'를, 그렇지 않다면 'N'을 값으로 설정
				boardCheck.value = boardCheckCheckbox.checked ? 'Y' : 'N';

				// 폼을 제출합니다.
				return true;
           }
		
           function goToPage(url) {
               window.location.href = url;
           }
    </script>
</head>
<body>
	<h1>게시글 작성</h1>
	
	<!-- 01. 새글 쓰기 영역 ▶ start -->
	<div>
		<form id="insertList" th:action="@{/insertList}" method="get" onsubmit="return insertWrite();">
			닉네임 : <input id="boardNick" type="text" name="boardNick" th:value="${boardNick}"><br>
			타이틀 : <input id="boardTitle" type="text" name="boardTitle"><br>
			<textarea rows="10" cols="31" placeholder="본문" name="boardText"></textarea><br>
			
			중요 게시물 체크 여부 : <input type="checkbox" id="boardCheckCheckbox" />Y<input type="hidden" id="boardCheck" name="boardCheck" value="N" /><br>
		
			<br>
			<button type="button" onclick="goToPage('/')">목록으로</button>
			<button style="background:#87cefa" type="submit">글쓰기</button>
		</form>
	</div>
	<!-- 01. 새글 쓰기 영역 ▶ end -->
</body>
</html>